name: Build (Common)

on:
  push:
    paths:
      - "Common/**"

  pull_request:
    paths:
      - "Common/**"
    types:
      - opened
      - synchronize

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # GitVersion
          fetch-depth: 0
          submodules: true

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/${env:DALAMUD_BRANCH}/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"
        env:
          DALAMUD_BRANCH: stg

      - name: Build
        run: dotnet build --configuration Release
        working-directory: Common
